# Annual anthrax Prediction in Ethiopia

### Project overview

##### This is a Deep-learning time series forecasting project from end-to-end, from defining the problem to training a final model and making predictions. This project is not exhaustive, but shows how you can get good results quickly by working through a time series forecasting problem systematically. The steps of this project that
##### we will work through are as follows:

##### 1. Problem Description.
##### 2. Aim
##### 3. Loading Dataset and Visualization
##### 4. Data Preparation
##### 2. Test Harness.
##### 3. Persistence.
##### 4. Data Analysis.
##### 5. ARIMA Models.
##### 6. Model Validation.

### Problem framing
##### The problem is to predict annual anthrax outbreaks in Ethiopia. The dataset provides the annual anthrax outbreak in Ethiopia from 2014 to 2018, or 5 years of data. The values in data indicates the total number of cases reported during outbreaks in all adminstrative region of Ethiopia, and there are 79 observations. The dataset is credited to Ministry of Livestock and Fisheries of Ethiopia, 2020. Below is a sample of the first few rows of the dataset.

### Goal of the Project
##### To build disease progression model and to forecast the annual new cases of *Bacillus anthracis* in Livestocks by using Deep learning time series models.

### Load Data-set and Visualization

In [ ]:
import numpy as np
import pandas as pd

In [1]:
import os
import numpy as np
import pandas as pd

In [3]:
def data_load(path = "."):
    """a function to import the data into
    working environment
    ============================================== 
    ARGUMENTS: uses the path as an argument
    RETURNS:pandas dataframe
    ==============================================
    """
    if os.path.exists(path = "."):
        df = pd.read_csv(path,header= 0, parse_dates=True, squeeze = True)
        return df[['Date', 'Case']].rename(columns = {'Date':'date', 'Case':'case'}, inplace = True)
        #df= df.replace('[./d.]', '', regex = True).astype(int)
    else:
        print("File doesn't exist")
def check_data(df):
    """"""
    if df.isnull():
        print("The data have the total missing value of" + df.isnull.sum())
    else:
        return df.notnull.sum()

In [4]:
DATAPATH = "/home/miki/Desktop/Deployment/bacillus-anthracis/data/ts.csv"
df = data_load(DATAPATH)

In [5]:
df

          Date  Case  Death  No slaughter  Outbreak no
0     1/1/2014   1.0    1.0           0.0          1.0
1     1/1/2014   9.0    5.0           0.0          1.0
2     1/1/2014   2.0    1.0           0.0          1.0
3     1/1/2014   3.0    1.0           0.0          0.0
4     1/1/2014   5.0    4.0           0.0          0.0
..         ...   ...    ...           ...          ...
859  2/12/2018   4.0    4.0           0.0          1.0
860  2/11/2018   5.0    2.0           0.0          1.0
861  3/13/2018   2.0    2.0           0.0          1.0
862  3/20/2018  24.0    7.0           0.0          1.0
863   9/7/2018  11.0    9.0           0.0          1.0

[864 rows x 5 columns]

In [6]:
df = df[["Date", "Case"]]

In [7]:
df

          Date  Case
0     1/1/2014   1.0
1     1/1/2014   9.0
2     1/1/2014   2.0
3     1/1/2014   3.0
4     1/1/2014   5.0
..         ...   ...
859  2/12/2018   4.0
860  2/11/2018   5.0
861  3/13/2018   2.0
862  3/20/2018  24.0
863   9/7/2018  11.0

[864 rows x 2 columns]

In [ ]:
class visualize():
    def __init__():
        pass 
    def box_plot():
        pass
    def line_plot():
        pass 
    def acf_plot():
        pass 
    def prob_plot():
        pass


def ts_plots():